<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    	<img src="/assets/chimp.png"/>
      <a class="navbar-brand" href="/cars">Mickey 3's Car Manager</a>
    </div>
  </div>
</nav>